<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Card</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <main>
        <article class="card">
            <div class="card__container palette<%= palette%> ">
                <div class="card__container--verticalBorder">
                    <h2 class="card__container--name">
                        <%= name%>
                    </h2>
                    <p class="card__container--paragraph ">
                        <%= job%>
                    </p>
                </div>

                <img src="<%= photo%>" class="image"></img>
                <nav>
                    <ul class="card__container--list">
                        <li class="card__containerIcon">
                            <a target="blank" href="tel:<%= phone%>">
                                <i
                                    class="card__rrss fa-solid fa-mobile-screen-button "></i>
                            </a>
                        </li>
                        <li class="card__containerIcon">
                            <a target="blank" href="mailto:<%= email%>">
                                <i class="fa-solid fa-envelope card__rrss"></i>
                            </a>
                        </li>
                        <li class="card__containerIcon">
                            <a target="blank"
                                href="https://www.linkedin.com/in/<%= linkedin%>">
                                <i
                                    class="card__rrss fa-brands fa-linkedin-in "></i>
                            </a>
                        </li>
                        <li class="card__containerIcon">
                            <a target="blank"
                                href="https://github.com/<%= github%>">
                                <i
                                    class="card__rrss fa-brands fa-github-alt "></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </article>
    </main>
</body>

</html>